// --------------------------------------------------
// 
// Core Sans A
// 
// --------------------------------------------------

// CoreSansA35Light
@font-face {
    font-family: "CoreSansA35Light";
    src: url(../fonts/CoreSansA/CoreSansA35Light.otf);
}

// --------------------------------------------------
// 
// Raleway
// 
// --------------------------------------------------

// RalewayMedium
@font-face {
    font-family: "RalewayMedium";
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}