// --------------------------------------------------
// 
// Core Sans A
// 
// --------------------------------------------------

// CoreSansA35Light
@font-face {
    font-family: "CoreSansA35Light";
    src: url(../fonts/CoreSansA/CoreSansA35Light.otf);
}

// --------------------------------------------------
// 
// Raleway
// 
// --------------------------------------------------
// RalewayLight
@font-face {
    font-family: "RalewayLight";
    src: url(../fonts/Raleway/Raleway-Light.ttf);
}

// RalewayRegular
@font-face {
    font-family: "RalewayRegular";
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

// RalewayMedium
@font-face {
    font-family: "RalewayMedium";
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}

// RalewaySemibold
@font-face {
    font-family: "RalewaySemibold";
    src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
}

// RalewayBold
@font-face {
    font-family: "RalewayBold";
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
}

// RalewayExtraBold
@font-face {
    font-family: "RalewayExtraBold";
    src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
}

// RalewayBlack
@font-face {
    font-family: "RalewayBlack";
    src: url(../fonts/Raleway/Raleway-Black.ttf);
}