// --------------------------------------------------
// 
// Links
// 
// --------------------------------------------------
a {
    color: currentColor;
    &:hover {
        color: currentColor;
        text-decoration: none;
    }
    &:focus {
        color: currentColor;
        text-decoration: none;
    }
    &:active {
        color: currentColor;
        text-decoration: none;
    }
    &:visited {
        color: currentColor;
        text-decoration: none;
    }
}

// --------------------------------------------------
// 
// Logo
// 
// --------------------------------------------------
.logo {
    display: inline-block;
    font-family: $raleway-medium;
    font-size: $logo-fz;
    line-height: $logo-fz;
    text-decoration: none;
    border: 2px solid currentColor;
    padding: $logo-paddings;
    position: relative;
    z-index: 9999;
}

// --------------------------------------------------
// 
// Header courses links
// 
// --------------------------------------------------
.header__courses-links {
    float: right;
    transition: all .3s ease-in-out;
    a {
        position: relative;
        display: inline-block;
        transform: rotate(45deg);
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            text-align: center;
            font-family: $raleway-medium;
            font-size: 30px;
        }
    }
    .big-link {
        width: 250px;
        height: 250px;
        &:first-child {
            margin-right: 90px;
            background-image: linear-gradient(-145deg, rgba(206,219,237,.25), rgba(240,232,209,.25) 55%);
        }
        &:nth-child(2) {
            background-image: linear-gradient(-145deg, rgba(206,219,237,.5), rgba(206,219,237,.25) 25%);
        }
    }
    .small-link {
        display: block;
        width: 200px;
        height: 200px;
        margin: -30px auto 0 auto;
        background-image: linear-gradient(-145deg, rgba(206,219,237,.25), rgba(240,232,209,.25) 135%);
        span {
            font-size: 23px;
        }
    }
}
  