// --------------------------------------------------
// 
// Mentor
// 
// --------------------------------------------------
.mentor {
    &__left-side {
        p {
            padding-right: 90px;
        }
    }
    &__right-side {
        p {
            padding-left: 90px;
        }
    }
}

// --------------------------------------------------
// 
// Slider
// 
// --------------------------------------------------
.slider {
    padding-top: 195px;
    .photo-side {
        img {
            height: 100%;
            width: auto;
        }
    }
    .text-side {
        p {
            padding-right: 25%;
            & + .button {
                margin-top: 45px;
            }
        }
        .button {
            margin: 15px 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .b-or {
        width: 285px;
        text-align: center;
        font-family: $raleway-light;
        font-size: 15px;
    }
}

// --------------------------------------------------
// 
// Photo with caption
// 
// --------------------------------------------------
.photo-with-caption {
    padding-top: 190px;
    img {
        padding-left: 7%;
        padding-right: 27%;
    }
    p {
        padding-right: 7px;
    }
}

// --------------------------------------------------
// 
// Contact us
// 
// --------------------------------------------------
.contact-us {
    form {
        input, select, textarea, .nice-select {
            display: block;
            width: 100%;
            border: 2px solid #000000;
            margin: 30px 0;
            padding: 0 20px;
            height: 51px;
            font-family: $raleway-bold;
            font-size: 15px;
            background-color: #ffffff;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #000000;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: #000000;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: #000000;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: #000000;
            }
        }
        textarea {
            height: 132px;
            padding-top: 14px;
            padding-bottom: 14px;
            resize: none;
        }
        .nice-select {
            border: none;
            display: inline-block;
            width: auto;
            margin: 0;
            padding-right: 20px;
            .current {
                line-height: 51px;
            }
            &:after {
                width: 12px;
                height: 12px;
                right: 0;
                top: 50%;
                border: 2px solid #000000;
                border-top: none;
                border-left: none;
                transform: translateY(-75%) rotate(45deg);
            }
        }
        input[type="submit"] {
            cursor: pointer;
            max-width: 280px;
        }
    }
}

// --------------------------------------------------
// 
// Video
// 
// --------------------------------------------------
.video {
    position: relative;
    height: 815px;
    margin: 100px 0;
    padding: 0;
    overflow: hidden;
    #video {
        position: absolute;
        width: 100%;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}


// --------------------------------------------------
// 
// Details
// 
// --------------------------------------------------
.details {
    .b-texture {
        max-width: 40%;
        height: 100%;
        max-height: 575px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .lectors {
        margin-bottom: 45px;
        .b-lector {
            max-width: 330px;
        }
    }
    .b-about {
        margin-bottom: 60px;
        &--non-important {
            font-family: $raleway-light;
            font-size: 20px;
            padding-right: 30%;
        }
        &--important {
            font-family: $raleway-bold;
            font-size: 20px;
            padding-right: 20%;
        }
    }
    .b-more-details {
        font-family: $raleway-bold;
        font-size: 25px;
        line-height: 25px;
        padding: 40px 0 10px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        span {
            font-size: 50px;
            &.or {
                font-family: $raleway-light;
                font-size: 15px;
                display: block;
                margin: 15px 0;
            }
        }
        margin-bottom: 45px;
        &--begin {
            border: none;
        }
    }
    .b-exclusive {
        h3 {
            font-family: $raleway-bold;
            font-size: 30px;
            margin-bottom: 45px;
        }
        h4 {
            font-family: $raleway-bold;
            font-size: 25px;
            margin-bottom: 45px;
        }
        ul {
            list-style: none;
            margin: 0 0 45px 0;
            padding: 0;
            li {
                font-family: $raleway-light;
                font-size: 20px;
                &:before {
                    content: '—';
                    display: inline-block;
                    margin-right: 8px;
                }
            }
        }
    }
    .b-btn {
        margin-top: 45px;
    }
}

// --------------------------------------------------
// 
// Blockquote
// 
// --------------------------------------------------
.blockquote {
    h6 {
        font-family: $raleway-regular;
        font-size: 20px;
        margin-bottom: 15px;
    }
    h2 {
        font-family: $raleway-bold;
        font-size: 50px;
        margin-bottom: 15px;
    }
    .b-texture {
        width: calc(50% - 50px);
        height: 100px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        
    }
}

// --------------------------------------------------
// 
// About text
// 
// --------------------------------------------------
.about-text {
    padding-left: 30%;
    background-image: url(../images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    .feather {
        left: 20%;
        top: 50%;
        transform: translate(0, -50%);
        img {
            max-width: 200px;
            height: auto;
        }
    }
    h2 {
        font-family: $raleway-bold;
        font-size: 40px;
        margin-bottom: 90px;
    }
    p {
        font-family: $raleway-light;
        font-size: 20px;
        margin-bottom: 40px;
        b {
            font-size: 25px;
        }
    }
}