// --------------------------------------------------
// 
// Fonts
// 
// --------------------------------------------------
// CoreSans
$coresans-light: "CoreSansA35Light", sans-serif;

// Raleway
$raleway-medium: "RalewayMedium", sans-serif;

// --------------------------------------------------
// 
// Colors
// 
// --------------------------------------------------
$base-color: #000000;

// --------------------------------------------------
// 
// Margins, Paddings
// 
// --------------------------------------------------
// logo
$logo-paddings: 10px 17px;
// Header
$header-padding-top: 60px;
$header-padding-bottom: 0;
$header-padding-left: 0;
$header-padding-right: 0;

// --------------------------------------------------
// 
// Font sizes
// 
// --------------------------------------------------
// logo
$logo-fz: 20px;

// --------------------------------------------------
// 
// Width, Height
// 
// --------------------------------------------------
// Header
$header-height: 100vh;