// --------------------------------------------------
// 
// Fonts
// 
// --------------------------------------------------
// CoreSans
$coresans-light: "CoreSansA35Light", sans-serif;

// Raleway
$raleway-light: "RalewayLight", sans-serif;
$raleway-regular: "RalewayRegular", sans-serif;
$raleway-medium: "RalewayMedium", sans-serif;
$raleway-bold: "RalewayBold", sans-serif;
$raleway-semibold: "RalewaySemibold", sans-serif;
$raleway-extrabold: "RalewayExtraBold", sans-serif;
$raleway-black: "RalewayBlack", sans-serif;

// --------------------------------------------------
// 
// Colors
// 
// --------------------------------------------------
$base-color: #000000;

// --------------------------------------------------
// 
// Margins, Paddings
// 
// --------------------------------------------------
// logo
$logo-paddings: 9px 14px;
// Header
$header-padding-top: 60px;
$header-padding-bottom: 0;
$header-padding-left: 0;
$header-padding-right: 0;
// Navigation items
$nav-item-margin: 40px auto 0 auto;
// Sections
$section-padding: 100px 0;

// --------------------------------------------------
// 
// Font sizes
// 
// --------------------------------------------------
// logo
$logo-fz: 29px;
// Big navigation item
$big-nav-item-fz: 30px;
// Small navigation item
$small-nav-item-fz: 15px;

// --------------------------------------------------
// 
// Width, Height
// 
// --------------------------------------------------
// Header
$header-height: 100vh;
// Navigation item
$nav-item-max-width: 150px;

// --------------------------------------------------
// 
// Blur
// 
// --------------------------------------------------
// Header elements
$header-blur-level: 10px;